.miniCard {
	width: 50%;
	height: 200px;
	padding: 16px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #1d213a;
	font-size: 18px;
	font-weight: 300;
	box-shadow: 0px 10px 20px -5px black;
}
.title {
	font-size: 1.6rem;
	font-weight: 400;
}
.temp {
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	gap: 32px;
}
@media screen and (max-width: 425px) {
	.miniCard {
		width: 100%;
	}
}
