.mini-card {
    width: 50%;
    height: 200px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1d213a;
    font-size: 18px;
    font-weight: 300;
    margin: 0px 16px;
}
h5 {
    font-weight: 400;
}
.temp {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
@media screen and (max-width: 425px) {
    .mini-card {
        width: 100%;
    }
}