
.btn-SearchYourLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(156, 156, 156);
    cursor: pointer;
}